<ng-container>
  <header class="header">
    <div class="header__content">
      <app-header-logo></app-header-logo>
      <div class="links">
        <a routerLink="/">Home</a>
        <span class="inactive">Blockchain</span>
        <span class="inactive">Developers APIs</span>
        <a routerLink="/products">Products</a>
        <a routerLink="/media">Media</a>
        <a target="_blank" href="https://insiderprotocol.com">Insider Protocol</a>
        <a routerLink="/faucet">Get ARC</a>
        <!--<a routerLink="/faucet" *ngIf="router.url !== '/faucet'">Get faucet</a>
        <a routerLink="/" *ngIf="router.url !== '/'">Back</a>-->
      </div>
    </div>
  </header>

  <app-header-search [isAssetsVal]=isAssets></app-header-search>

  <app-top-chart *ngIf="router.url === '/'"></app-top-chart>
</ng-container>
