.top-chart-container {
  text-align:center;
  padding: 0 140px;
}

.top-chart-container.mobile {
  padding: 0 0 !important;
}

.card_header {
  .card_header_title {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
