.top-chart-container {
  text-align:center;
  padding: 0 140px;
  position: relative;

  .maintenance {
    position: absolute;
    font-size: 1.6vw;
    color: white;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    span {
      text-align: center !important;
    }
  }
}

.top-chart-container.mobile {
  padding: 0 0 !important;
}

.card_header {
  .card_header_title {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .top-chart-container {
    padding: 0 20px;
  }
}


