<ng-container *ngIf="chartOptions">
  <div class="card_header">
    <div class="card_header_title">Real-time statistics</div>
  </div>

  <div class="top-chart-container" [class.mobile]="isMobile">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
      [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill"
      [markers]="chartOptions.markers"
      [grid]="chartOptions.grid"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
    <div class="maintenance">
      <span>Testnet is offline due to the network local tests and transferring to 2nd iteration of the blockchain.</span>
    </div>
  </div>
</ng-container>
