.block-details-header{
  background: #bdbdbd;
  font-weight: bold;
  font-size: 26pt;
  color: #ffffff;
}

.item-name{

}

.item-details{
  margin-left: 20%;
}

.item-name-inputs{
  padding: 10px;
}

.item-details-inputs{
  padding: 10px;
}

.labels-stack-layout{
  padding-top: 30px;
}

.list-group-item{
  padding: 10px;
}

.item-comit-value{
  margin-left: 80px;
}

.item-maturity-value{
  margin-left: 80px;
}

.main-grid-layout{
  overflow: scroll;
  margin-top: 20px;
  margin-left: 10px;
}

.item-disc{
  margin-left: 10;
}
