<section *ngIf="!loading_block" class="details">
  <div class="details-card-container">
    <div class="card_header">
      <div class="card_header_title">Cluster {{block.header}}</div>
    </div>

    <div class="main">
      <div>Timestamp: {{ block.age }}</div>
      <div>Hash: {{ block.hash }}</div>
      <div>Kernels: {{ block.kernelsCnt }}</div>
      <div>Fee: {{ block.fee }}</div>
    </div>

    <div class="data">
      <div class="input">
        <div class="label">Input data</div>
        <div class="hash">
          <div *ngFor="let input of block.inputs">
            <div>{{ input.height }}</div>
            <div>{{ input.commitment }}</div>
          </div>
          <div *ngIf="block.inputs.length === 0">No data.</div>
        </div>
      </div>
      <div class="output">
        <div class="label">Output data</div>
        <div class="hash">
          <div *ngFor="let output of block.outputs">{{ output.commitment }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-powered-by></app-powered-by>
