<div class="table-container" [class.mobile]="isMobile">
  <div class="card_header">
    <div class="card_header_title">Latest cluster iteractions</div>
  </div>
    <div class="table-container__content">
        <ng-container *ngIf="selectorActiveTitle === selectorTitles.BLOCKS">
            <mat-table [dataSource]="blocksData" class="blocks-table" [class.mobile]="isMobile">
              <ng-container matColumnDef="age">
                <mat-header-cell class="age-cell-header" *matHeaderCellDef> AGE: </mat-header-cell>
                <mat-cell class="age-cell" *matCellDef="let element">
                  <span class="mobile-label" *ngIf="isMobile">AGE:</span>
                  <span class="desktop-label" [class.mobile]="isMobile">{{element.timestamp | date:'medium'}}</span>
                </mat-cell>
              </ng-container>
                <ng-container matColumnDef="hash">
                    <mat-header-cell class="hash-cell-header" *matHeaderCellDef> HASH: </mat-header-cell>
                    <mat-cell class="hash-cell" *matCellDef="let element">
                        <span class="mobile-label" *ngIf="isMobile">HASH:</span>
                        <span class="desktop-label" [class.mobile]="isMobile">{{element.hash}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="kernels">
                    <mat-header-cell class="kernel-cell-header" *matHeaderCellDef> #KERNELS: </mat-header-cell>
                    <mat-cell class="kernel-cell" *matCellDef="let element">
                        <span class="mobile-label" *ngIf="isMobile">#KERNELS:</span>
                        <span class="desktop-label" [class.mobile]="isMobile">{{element.kernels | number:'.'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"
                                class="blocks-table-header-row"
                                [class.mobile]="isMobile"></mat-header-row>
                <mat-row class="blocks-table-row" [class.mobile]="isMobile" (click)="showBlockDetails(row)"
                    *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </div>
</div>
