<div class="card_header">
  <div class="card_header_title">Latest cluster interactions</div>
</div>

<div class="table-container">
  <div class="table-container__content">
    <div class="cluster-table">
      <div class="column">
        <div>Timestamp:</div>
        <div *ngFor="let item of blockList">{{ item.timestamp | date:'medium' }}</div>
      </div>
      <div class="column">
        <div>Hash:</div>
        <div *ngFor="let item of blockList">
          <a routerLink="/block/{{ item.hash }}">{{ item.hash }}</a>
        </div>
      </div>
      <div class="column">
        <div>Kernels:</div>
        <div *ngFor="let item of blockList">{{ item.kernels }}</div>
      </div>
    </div>

    <div class="cluster-table_mobile">
      <div class="row" *ngFor="let item of blockList">
        <div class="row-item">
          <div>Timestamp:</div>
          <div >{{ item.timestamp | date:'medium' }}</div>
        </div>
        <div class="row-item">
          <div>Hash:</div>
          <a routerLink="/block/{{ item.hash }}">{{ item.hash }}</a>
        </div>
        <div class="row-item">
          <div>Kernels:</div>
          <div>{{ item.kernels }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

