<section class="media-container">
  <div class="card_header">
    <div class="card_header_title">Media about us</div>
  </div>

  <div class="main">
    <div class="media_list">
      <div class="media_item">
        <a target="_blank" href="https://www.coindesk.com/sponsored-content/anonymity-is-the-key-to-everything/">
          <div style="background-image: url('/assets/modules/homepage/containers/media/coindesk-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/coindesk-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://www.ausbiz.com.au/media/the-mechanics-of-insider-protocol-imperium-blockchain-?videoId=19200">
          <div style="background-image: url('/assets/modules/homepage/containers/media/ausbiz-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/ausbiz-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://cointelegraph.com/press-releases/bitcoin-trading-bot-from-insider-protocol-by-the-mechanics-of-the-future">
          <div style="background-image: url('/assets/modules/homepage/containers/media/cointelegraph-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/cointelegraph-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://www.bloomberg.com/press-releases/2021-01-12/a-revolution-in-the-trading-realm-with-insider-protocol-s-bitcoin-trading-bot">
          <div style="background-image: url('/assets/modules/homepage/containers/media/bloomberg-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/bloomberg-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://www.entrepreneur.com/article/375557">
          <div style="background-image: url('/assets/modules/homepage/containers/media/entrepreneur-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/entrepreneur-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://markets.businessinsider.com/news/stocks/game-changers-of-crypto-trading-on-bitcoin-have-announced-the-launch-of-the-algorithm-for-institutional-investors-1029970338">
          <div style="background-image: url('/assets/modules/homepage/containers/media/businessinsider-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/businessinsider-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://coincheckup.com/blog/bank-banned-trading-method-still-works/">
          <div style="background-image: url('/assets/modules/homepage/containers/media/coincheckup-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/coincheckup-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://www.marketwatch.com/press-release/bitcoin-trading-bot-from-insider-protocol-cryptocurrency-ecosystem-2021-01-04">
          <div style="background-image: url('/assets/modules/homepage/containers/media/marketwatch-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/marketwatch-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://finance.yahoo.com/finance/news/revolution-trading-realm-insider-protocols-191000859.html">
          <div style="background-image: url('/assets/modules/homepage/containers/media/yahoo-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/yahoo-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://www.coinspeaker.com/insider-protocol-institutional-funds/">
          <div style="background-image: url('/assets/modules/homepage/containers/media/coinspeaker-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/coinspeaker-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://cryptonews.com/news/the-first-crypto-trading-bot-with-true-results-8501.htm">
          <div style="background-image: url('/assets/modules/homepage/containers/media/cryptonews-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/cryptonews-h.png')"></div>
        </a>
      </div>
      <div class="media_item">
        <a target="_blank" href="https://cryptosvet.cz/insider-protocol-recenze/">
          <div style="background-image: url('/assets/modules/homepage/containers/media/cryptosvet-d.png')"></div>
          <div style="background-image: url('/assets/modules/homepage/containers/media/cryptosvet-h.png')"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<app-powered-by></app-powered-by>
