<section class="products-container">
  <div class="card_header">
    <div class="card_header_title">Our products</div>
  </div>

  <div class="main">
    <div class="products_list">
      <div class="product_item">
        <div class="element">
          <a target="_blank" href="https://atlasdexswap.com">
            <div style="background-image: url('/assets/modules/homepage/containers/products/atlas-default.png')"></div>
            <div style="background-image: url('/assets/modules/homepage/containers/products/atlas-hover.png')"></div>
          </a>
          <div class="text">
            Swap service brought by the MECHANICS of the FUTURE team for exchanging ERC20 based tokens and participating
            in liquidity pools.
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="element">
          <a target="_blank"
             href="https://insiderprotocol.com">
            <div style="background-image: url('/assets/modules/homepage/containers/products/insider-default.png')"></div>
            <div style="background-image: url('/assets/modules/homepage/containers/products/insider-hover.png')"></div>
          </a>
          <div class="text">
            The trading bot which combines different patterns in
            algorithms based on High-Frequency Trading (HFT)
            and Positional Trading implemented in the LAYERING
            trading technique.
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="element">
          <span>
            <div style="background-image: url('/assets/modules/homepage/containers/products/imperium-default.png')"></div>
            <div style="background-image: url('/assets/modules/homepage/containers/products/imperium-hover.png')"></div>
          </span>
          <div class="text">
            Imperium blockchain network will be the first anonymous,
            fully decentralized blockchain as a part of the
            already existing ecosystem.
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="element inactive">
          <span>
            <div style="background-image: url('/assets/modules/homepage/containers/products/defi.png')"></div>
            <div style="background-image: url('/assets/modules/homepage/containers/products/defi.png')"></div>
          </span>
          <div class="text">
            We are going to bring you decentralized finance
            in a new way.
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="element inactive">
          <span>
            <div style="background-image: url('/assets/modules/homepage/containers/products/dexchange.png')"></div>
            <div style="background-image: url('/assets/modules/homepage/containers/products/dexchange.png')"></div>
          </span>
          <div class="text">
            Is our core product which will be the final act of the entire
            ecosystem. Decentralized exchange with its own index
            anonymous untraceable assets with lower fees than on
            existing exchanges. Along with the DEX part, there will
            be also available Spot and Futures trades and the NFT market.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-powered-by></app-powered-by>

