<ng-container>
  <div class="graphs" *ngIf="graphsLoaded">
    <div class="graphs__left__block">
      <div class="graphs__left__block__elem" [chart]="graphs.blocks"></div>
      <div class="maintenance" style="display: none">
        <span>Testnet is offline due to the network local tests and transferring to 2nd iteration of the blockchain.</span>
      </div>
    </div>
    <div class="graphs__left__block">
      <div class="graphs__left__block__elem" [chart]="graphs.blocks1"></div>
      <div class="maintenance" style="display: none">
        <span>Testnet is offline due to the network local tests and transferring to 2nd iteration of the blockchain.</span>
      </div>
    </div>
  </div>
</ng-container>

<!--
<ng-container *ngIf="isMobile">
  <div class="graphs-mob" *ngIf="graphsLoaded">
    <div class="graphs-mob__block">
      <div class="graphs-mob__block__elem" [chart]="graphs.blocks"></div>
    </div>
    <div class="graphs-mob__block">
      <div class="graphs-mob__block__elem" [chart]="graphs.blocks1"></div>
    </div>
    <div class="graphs-mob__block">
      <div class="graphs-mob__block__elem" [chart]="graphs.transactions"></div>
    </div>
    <div class="graphs-mob__block">
      <div class="graphs-mob__block__elem" [chart]="graphs.transactions1"></div>
    </div>
  </div>
</ng-container>
-->
