@mixin top-background-color {
  background-attachment: fixed;
  background-blend-mode: normal, multiply, multiply, multiply;
  background-image:
    linear-gradient(120deg, #032e49, #0073a6),
    radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
    linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

@mixin switcher-selector-color {
  box-shadow: 0 2px 7px 0 #00163a;
  background-image: linear-gradient(103deg, #4ae2ff 11%, #24c1ff 94%);
  color: #042e5a;
}

@mixin text-color {
  color: #042e5a;
}

@mixin point-fill {
  fill: #032e49;
}

@mixin selector-selected-color {
  color: rgb(41,158,207);
}

@mixin selector-bg-color {
  background-color: rgb(54,85,107);
}

@mixin tooltip-background {
  fill: rgb(54, 85, 107);
}

@mixin paginator-wrapper-background {
  background-color: rgba(0, 86, 131, 0.15);
}

@mixin details-bg {
  background-color: #d9e6ed !important;
}

.details-content {
    margin: 40px auto auto;
    display: flex;
    flex-direction: column;
    width: 1180px;
}

.details-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.short-label {
    width: 82px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.coin-label {
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.details-description {
    margin-top: 20px;
}

.descr-title {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.descr-content {
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.details-data {
    @include paginator-wrapper-background();
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.details-data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.details-data-row.descr {
    align-items: flex-start;
}

.data-title {
    width: 230px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.data-value {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    max-width: 920px;
    word-wrap: break-word;
}

.not-available {
    font-family: "ProximaNovaIt", sans-serif;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

@media(max-width: 769px) {
    .details-content {
        width: 100%;
    }

    .details-data {
        margin: 20px 20px 0 20px;
    }

    .short-label {
        margin-left: 20px;
    }

    .data-title {
        width: 160px;
        font-size: 12px;
    }

    .data-value {
        max-width: calc(100% - 170px);
    }
}

img {
    max-width: 300px;
    max-height: 200px;
}
