.logo {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &__title {
        ::before {
          font-family: boxicons;
          content: "\e9d0";
          margin-top: 10px;
          font-size: 23px;
        }

        margin-left: 25px;
        display: flex;
        flex-direction: column;

        &__imperium {
            color: #ffffff;;
            text-shadow: 1px 0 #25c1ff;
            font-weight: bold;
            line-height: 1.2;
            font-style: normal;
            font-stretch: normal;
            overflow: hidden;
            font-size: 30px;
            letter-spacing: 2px;
        }

        &__text {
            margin-top: auto;
            color: #ffffff;
            font-size: 13px;
        }
    }
}
