.logo {
  display: block;
  flex-direction: row;

  &__imperium {
    margin: 0 auto;
    width: 494px;
    height: 120px;
    background-image: url(../../../../../src/assets/imperium-logo.png);
  }
}

@media (max-width: 950px) {
  .logo {
    &__imperium {
      width: 50vw;
      height: 10vw;
      min-width: 300px;
      min-height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
